.option-container {
    margin: 1em auto 1em auto;
    display: inline-flex;
}

.option {
    padding-right: 1em;
}

.input-container {
  margin: auto;
  width: 70%;
  display: inline-flex;
  justify-content: center;
}

/* ----CSS FOR TOOGLE START */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#toogle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#toogle:checked + .slider {
  background-color: rgb(170, 62, 242);
}

#toogle:focus + .slider {
  box-shadow: 0 0 1px rgb(170, 62, 242);
}

#toogle:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* ----CSS FOR TOOGLE END */

.input {
  max-width: 500px;
  width: 70%;
  padding: 1em;
  background-color: transparent;
  color: darkgrey;
  font-size: 1em;
  outline-style: none;
  border: darkgrey 1px dashed;
}

.input:active {
  border: 1px white dashed;
}

input[type="file"] {
  display: none;
}

#custom-file {
  border: 1px dashed darkgrey;
  max-width: 300px;
  width: 30%;
  padding: 20px 10px;
  cursor: pointer;
}

.browse-heading:hover {
  color: rgb(170, 62, 242);
}